# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build folder
build/

# Coverage directory used by tools like istanbul
coverage/

# MacOS related files
*.DS_Store
.AppleDouble
.LSOverride
._*

# Windows related files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editors
.idea
.vscode

# Output of 'npm pack'
*.tgz
